.card {
    display: flex;
    margin-bottom: 20px;
    padding-left: 40px;
    cursor: pointer;
}
.photos {
    width: 120px;
    height: 120px;
    border-radius: 60px;
}
.description {
    display: flex;
    padding-left: 20px;
    flex-direction: column;
    justify-content: space-around;
}
#nama {
    color: white;
    font-size: 22px;
    font-weight: bold;
    font-family: Verdana;
}
#nim {
    color: white;
    font-family: Verdana;
    font-weight: 500;
    font-size: 12px;
    margin-top: 5px;
}